{% extends "base.html" %}

{% block content %}
<section class="row">
  <div>
    <div class="description">
      {% block description %}
      <p>This site tracks <a href="/about">Data Packages</a> related to
        <a href="http://tourism.opendata.ch" target="_blank">Open Tourism Data</a> -
        <a href="/contact">further contributions</a> are welcome!
      </p><p>This repository is maintained by the
        <a href="http://schoolofdata.ch" target="_blank">School of Data</a>,
        Swiss chapter.
        Need tools to work with data? Visit
        <a href="http://toolbox.schoolofdata.ch" target="_blank">toolbox.schoolofdata.ch</a>.
      {% endblock description %}
    </div>
    <div class="main">
      <div class="search">
        <input id="search" type="text" placeholder="Search datasets..." />
        <span id="spinner"><img src="/img/ajax-loader.gif" alt="Loading..." title="Loading..." /></span>
      </div>
      <ul class="datasets">
        <li class="notfound">
          No datasets found.
        </li>
        {% for d in datapackages %}
        <li class="dataset-{{ d.original_name }}">
          <a href="/{{ d.name }}/">
            <h3>{{ d.title }}</h3>
            <span>{{ d.description }}</span>
            <span class="source">
              {% if d.sources %}
              <em>Sources:</em>
              {% for s in d.sources %}
                {{ s.name }}
              {% endfor %}
              {% endif %}
            </span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock content %}
